@font-face {
    font-family: "Minecraft";
    src: url(Minecraft.ttf);
}


body {
    color: white;
    background-color: #000000;
    font-family: "Minecraft", 'Arial';
    font-size: 24px;
    text-align: center;
    font-weight: lighter;
    vertical-align: middle;
    display: table-cell;
    text-shadow: 0 0 10px rgb(185, 185, 185), 0 0 20px rgb(189, 189, 189), 0 0 40px rgb(65, 65, 65), 0 0 80px rgb(139, 139, 139);
}

.button {
    font-family: "Minecraft";
    font-weight: lighter;
    width: 80px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: 250ms;
}

.button:hover {
    cursor: pointer;
    border-color: red;
    box-shadow: 0 0 10px rgb(185, 0, 0), 0 0 20px rgb(189, 0, 0), 0 0 40px rgb(65, 0, 0), 0 0 80px rgb(139, 0, 0);
}

.button:active {
    border-color: #c00000;
}

.button span {
    position: relative;
}

.button span:active {
    top: 1px;
}

h1 {
    font-style: italic;
    font-weight: lighter;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    text-shadow: 0 0 10px rgb(185, 185, 185), 0 0 20px rgb(189, 189, 189), 0 0 40px rgb(65, 65, 65), 0 0 80px rgb(139, 139, 139);
    transition: 250ms;
}

h1:hover {
    text-shadow: 0 0 10px rgb(185, 0, 0), 0 0 20px rgb(189, 0, 0), 0 0 40px rgb(65, 0, 0), 0 0 80px rgb(139, 0, 0);
    color: red;
    cursor: default;
}

html {
    display: table;
    margin: auto;
}

html, body {
    height: 100%;
}

#yap {
    font-weight: lighter;
    font-family: monospace;
}

#paragraph {
    text-shadow: 0px 0px 1px rgb(255, 0, 0), 0px 2px 1px rgb(200, 0, 0), 0px 4px 1px rgb(150, 0, 0), 0px 6px 1px rgb(100, 0, 0);
    font-family: monospace;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#ikä {
    width: 20px;
    zoom: 200%;
    border-color: white;
    background-color: #191919;
    color: white;
    margin-bottom: 5px;
    font-family: "Minecraft";
    text-align: center;
    border-radius: 5px;
    border: solid;
    transition: 250ms;
}

#ikä:hover {
    border-color: red;
    box-shadow: 0 0 10px rgb(185, 0, 0), 0 0 20px rgb(189, 0, 0), 0 0 40px rgb(65, 0, 0), 0 0 80px rgb(139, 0, 0);
}

#tldr {
    color: white;
    border: solid;
    border-width: 6px;
    border-radius: 90px;
    transition: 250ms;
    zoom: 75%;
}

#tldr:hover {
    color: red;
    box-shadow: 0 0 10px rgb(185, 0, 0), 0 0 20px rgb(189, 0, 0), 0 0 40px rgb(65, 0, 0), 0 0 80px rgb(139, 0, 0);
}

#blade {
    margin: auto;
    width: 180px;
    height: 20px;
    margin-bottom: 10px;
    margin-top: 50px;
}

#blade:hover {
    color: red;
    text-shadow: 0 0 10px rgb(185, 0, 0), 0 0 20px rgb(189, 0, 0), 0 0 40px rgb(65, 0, 0), 0 0 80px rgb(139, 0, 0);
    transition: 250ms;
    cursor: default;
}

#loopius {
    position: relative;
    display: inline;
    text-align: left;
}

.flexbox1 {
    display: flex;
    flex-direction: row;
}